/* @import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
/* CSS */
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Scrollbar for Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px; /* Adjust width of scrollbar */
}

::-webkit-scrollbar-track {
  background: #495670; /* Third color for scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #64ffda; /* Primary color for scrollbar handle */
  border-radius: 10px; /* Rounded corners for scrollbar handle */
  border: 3px solid #ccd6f6; /* Secondary color for border around the handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8b2d1; /* Secondary light color when hovered */
}






*{
  margin: 0;
  padding: 0;
  /* font-family: "Arima", system-ui; */
  font-family: 'Fira Code', monospace;
  scrollbar-width: thin;
  

  scrollbar-color: #64ffda #495670;
}

.navLinkLI {
  will-change: transform;
}


.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}




.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#64ffda, #64ffda)
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}


/* Custom scrollbar for WebKit browsers (Chrome, Safari) */
.scrollable-container::-webkit-scrollbar {
  height: 8px; /* Customize the height */
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background of the scrollbar track */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #64ffda; /* Scrollbar thumb color */
  border-radius: 10px;
  border: 2px solid #64ffda; /* Optional border to add padding around the thumb */
}

/* Custom scrollbar for Firefox */
.scrollable-container {
  scrollbar-width: thin;
  scrollbar-color: #64ffda; /* thumb color and track color */
}



.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #64ffda;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-pop {
  transform: translateZ(0);
  transition: transform 0.3s ease;
}

.hover-pop:hover {
  transform: translateZ(10px);
}
